body{
background-color:red;
  font-family:arial,sans-serif;
  color:blue;
  margin:0;
  padding:0;
}
header{
  background-color:white;
  color:green;
  padding:20px;
  text-align:center:
}
h1{
  font-size:2.5em;
}
  p{
    line-height:1.6;
    margin:10px 20px;
  }
